# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.md]
trim_trailing_whitespace = false

[{*.js,*.cjs}]
ij_javascript_indent_case_from_switch = true
ij_javascript_spaces_within_imports = true
ij_javascript_spaces_within_object_literal_braces = true
